.user_page {
  padding-top: 40px;
}

.user_page_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #444;
  padding: 0 10px;
}

.user_page_header .iconfont {
  color: #80bd01;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
}

.user_page_header .user_back {
  float: left;
}

.user_page_header .user_setting {
  float: right;
}

.user_page_userinfo {
  padding: 20px 0;
  background-color: #e7e7e7;
  display: flex;
}

.user_page_avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px 30px 10px 20px;
}

.user_page_userinfo_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user_page_username {
  text-align: center;
  color: #778087
}

.user_page_tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d4d4d4;
}

.user_page_tab {
  text-align: center;
  flex: 1;
}

.user_page_tab.selected{
  border-bottom: 2px solid #ff5a5f;
  color: #ff5a5f;
}