.user_page {
  padding-top: 0.4rem;
  font-size: 0.16rem;
}

.user_page_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: #444;
  padding: 0 0.1rem;
  z-index: 9;
}

.user_page_header .iconfont {
  color: #80bd01;
  font-size: 0.24rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.user_page_pull_status_div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  width: 100%;
  z-index: 1;
  background-color: #EAEAEA;
}

.user_page_userinfo {
  padding: 0.2rem 0;
  background-color: #373A3E;
  display: flex;
  color: #E4E4E4;
}

.user_page_avatar {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0.1rem 0.3rem 0.1rem 0.2rem;
}

.user_page_userinfo_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user_page_username {
  text-align: center;
  color: #778087
}

.user_page_tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 0.01rem solid #d4d4d4;
}

.user_page_tab {
  text-align: center;
  flex: 1;
}

.user_page_tab.selected{
  border-bottom: 0.02rem solid #80bd01;
  color: #80bd01;
}