.login_page {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 15px;
  background-color: #fff;
}
.access_token_input {
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid #4fc08d;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  color: #313131;
  outline: 0;
  text-align: center;
}

.access_token_ok {
  display: inline-block;
  width: 99%;
  height: 42px;
  line-height: 42px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  background-color: #4fc08d;
  border: none;
  border-bottom: 2px solid #3aa373;
  text-align: center;
  vertical-align: middle;
  margin-top: 40px;
}