.login_page {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 0.15rem;
  background-color: #fff;
}
.access_token_input {
  padding: 0.12rem 0;
  border: none;
  border-bottom: 0.01rem solid #4fc08d;
  background-color: transparent;
  width: 100%;
  font-size: 0.14rem;
  color: #313131;
  outline: 0;
  text-align: center;
}

.access_token_ok {
  display: inline-block;
  width: 99%;
  height: 0.42rem;
  line-height: 0.42rem;
  border-radius: 0.03rem;
  color: #fff;
  font-size: 0.16rem;
  background-color: #4fc08d;
  border: none;
  border-bottom: 0.02rem solid #3aa373;
  text-align: center;
  vertical-align: middle;
  margin-top: 0.4rem;
}