.topic_page {
  padding: 40px 12px;
}

.topic_page_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #444;
  padding: 0 10px;
}

.topic_page_header .iconfont {
  color: #80bd01;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
}

.topic_page_header .topic_back {
  float: left;
}

.topic_page_header .topic_collection {
  float: right;
}

.topic_page_header .topic_reply {
  float: right;
  font-size: 20px;
  margin-left: 30px;
}

.topic_page_title {
  line-height: 1.5;
  margin: 10px 0;
}

.topic_page_title_content {
  font-size: 16px;
  color: #2c3e50;
}

.topic_page_title_tab {
  padding: 1px 6px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  color: #fff;
}

.topic_page_title_tab.top {
  background: #e74c3c;
}

.topic_page_title_tab.ask {
  background: #3498db;
}

.topic_page_title_tab.job {
  background: #9b59b6;
}

.topic_page_title_tab.share {
  background: #1abc9c;
}

.topic_page_title_tab.good {
  background: #e67e22;
}

.topic_page_info {
  margin-bottom: 25px;
}

.topic_page_info_avatar {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  border-radius: 40px;
  float: left;
}

.topic_page_info_other {
  font-size: 13px;
  width: 100%;
  height: 40px;
  line-height: 20px;
  color: #34495e;
}

.topic_page_reply_count {
  color: #444;
  font-size: 14px;
}

.topic_page_content {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #81B29F;
}

.topic_page_load_replies {
  display: block;
  width: 50%;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  background-color: #4fc08d;
  border: none;
  border-bottom: 2px solid #3aa373;
  text-align: center;
  vertical-align: middle;
  margin: 20px auto;
}