.topic_page {
  padding: 0.4rem 0.12rem 0;
  font-size: 0.16rem;
}

.topic_page_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  background-color: #444;
  padding: 0 0.1rem;
  z-index: 9;
}

.topic_page_header .iconfont {
  color: #80bd01;
  font-size: 0.24rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.topic_page_header .topic_reply {
  float: right;
  font-size: 0.2rem;
  margin-left: 0.3rem;
}

.topic_page_title {
  line-height: 1.5;
  margin: 0.1rem 0;
}

.topic_page_title_content {
  font-size: 0.16rem;
  color: #2c3e50;
}

.topic_page_title_tab {
  padding: 0.01rem 0.06rem;
  margin-right: 0.1rem;
  font-size: 0.14rem;
  font-weight: normal;
  border-radius: 0.03rem;
  color: #fff;
}

.topic_page_title_tab.top {
  background: #e74c3c;
}

.topic_page_title_tab.ask {
  background: #3498db;
}

.topic_page_title_tab.job {
  background: #9b59b6;
}

.topic_page_title_tab.share {
  background: #1abc9c;
}

.topic_page_title_tab.good {
  background: #e67e22;
}

.topic_page_info {
  margin-bottom: 0.25rem;
}

.topic_page_info_avatar {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0 0.1rem 0 0;
  border-radius: 0.4rem;
  float: left;
}

.topic_page_info_other {
  font-size: 0.13rem;
  width: 100%;
  height: 0.4rem;
  line-height: 0.2rem;
  color: #34495e;
}

.topic_page_pull_status_div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.topic_page_reply_count {
  color: #444;
  font-size: 0.14rem;
}

.topic_page_content {
  margin-bottom: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 0.01rem solid #81B29F;
  font-size: 0.16rem;
}

.topic_page_load_replies {
  display: block;
  width: 50%;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 0.03rem;
  color: #fff;
  font-size: 0.16rem;
  background-color: #4fc08d;
  border: none;
  border-bottom: 0.02rem solid #3aa373;
  text-align: center;
  vertical-align: middle;
  margin: 0.2rem auto;
}