.reply_card {
  width: 100%;
  padding: 10px 10px;
  border-top: 1px solid #d5dbdb;
  display: flex;
  flex-direction: column;
}

.reply_card a{
  color: #626262;
}

.reply_card_avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
}

.reply_card_info {
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}

.reply_card_time {
  font-size: 13px;
  margin-left: 10px;
  color: #08c;;
}

.reply_card_good:before {
  content: "\f087";
}

.reply_card_content {
  padding-left: 40px;
  font-size: 14px;
}

.reply_card_icon {
  float: right;
  padding-left: 8px;
}

.reply_card_good_count {
  float: right;
  padding-left: 5px;
  font-family: "Arial";
}