.app_header {
  position: relative;
  height: 42px;
  width: 100%;
}

.app_header_left_btn {
  float: left;
  width: 42px;
  height: 42px;
  background-color: #6666cc;
}

.app_header_right_btn {
  float: right;
  width: 42px;
  height: 42px;
  background-color: #123456;
}