.new_topic_page_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #444;
  padding: 0 10px;
  z-index: 9;
}

.new_topic_page_header .iconfont {
  color: #80bd01;
  font-size: 24px;
  height: 40px;
  line-height: 40px;
}

.new_topic_page_head {
  margin-top: 40px;
  padding: 5px 2%;
  height: 30px;
  line-height: 30px;
  display: flex;
}

.new_topic_page_submit {
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #80bd01;
  border-radius: 3px;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.new_topic_page_type {
  width: 60px;
  height: 30px;
  line-height: 30px;
  flex: 1;
}

.new_topic_page_title_wrap {
  padding: 10px 2%;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
}

.new_topic_page_title {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  flex: 1;
}

.new_topic_page_content {
  margin: 15px 2%;
  width: 96%;
  resize: none;
  border-color: #d4d4d4;
}