.topics_header {
  position: fixed;
  top: -0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  width: 100%;
  background-color: #444;
  color: white;
  box-shadow: 0 0 0.04rem rgba(0, 0, 0, .25);
  z-index: 7;
  text-align: center;
  transition: top 0.5s ease;
  padding: 0 0.1rem;
  font-size: 0.16rem;
}

.topics_header.show {
  top: 0;
}

.topics_header_nav_btn {
  width: 50%;
  margin: auto;
}

.topics_header_nav {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: auto;
}

.topics_header .iconfont {
  color: #80bd01;
  font-size: 0.24rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.iconfont.new_topic {
  float: right;
}

.topics_header_nav_item {
  color: white;
}

.topics_header_nav_item.active_item {
  color: #80bd01;
}