.reply_card {
  width: 100%;
  padding: 0.1rem 0.1rem;
  border-top: 0.01rem solid #d5dbdb;
  display: flex;
  flex-direction: column;
}

.reply_card a{
  color: #626262;
}

.reply_card_avatar {
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.1rem;
  border-radius: 50%;
  float: left;
}

.reply_card_info {
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.15rem;
}

.reply_card_time {
  font-size: 0.13rem;
  margin-left: 0.1rem;
  color: #08c;;
}

.reply_card_content {
  padding-left: 0.4rem;
  font-size: 0.14rem;
}

.reply_by_author {
  margin-left: 0.05rem;
  color: #fff;
  background-color: #6ba44e;
  padding: 0.02rem;
  font-size: 0.12rem;
}

.reply_card_icon {
  float: right;
  padding-left: 0.12rem;
  color: #444;
}

.reply_card_icon.good {
  color: #80bd01;
}

.reply_card_good_count {
  float: right;
  padding-left: 0.05rem;
  font-family: "Arial";
}