.app_header {
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
  background-color: hsla(0,0%,100%,.95);
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  z-index: 7;
}

.app_header_left_btn {
  float: left;
  width: 42px;
  height: 42px;
  background: url('./HeaderLeft.png')  no-repeat 50%;
  background-size: 19px 16px;
}

.app_header_right_btn {
  float: right;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  font-size: 30px;
  font-weight: lighter;
}