.app_bottom_nav {
  display: flex;
  position: fixed;
  bottom: -0.5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  width: 100%;
  background-color: #444;
  flex-direction: row;
  border-top: 0.01rem solid #d5dbdb;
  transition: bottom 0.5s ease;
}

.app_bottom_nav.show {
  bottom: 0;
}

.app_bottom_nav_item {
  width: 100%;
  text-align: center;
  color: white;
}
.app_bottom_nav_item.iconfont {
  font-size: 0.24rem;
}

.app_bottom_nav_item.active_item {
  color: #80bd01;
}