html, body, #root, .root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.display_flex {
  display: flex;
}

.app_main {
  padding-top: 42px;
}