html, body, #root, .root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.app_main {
  padding-bottom: 49px;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 234627 */
  src: url('//at.alicdn.com/t/font_ale7omv1g9esif6r.eot');
  src: url('//at.alicdn.com/t/font_ale7omv1g9esif6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ale7omv1g9esif6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_ale7omv1g9esif6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ale7omv1g9esif6r.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}