html, body, #root, .root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.app_main {
  padding-bottom: 0.49rem;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 234627 */
  src: url('//at.alicdn.com/t/font_h9759yio21kbj4i.eot');
  src: url('//at.alicdn.com/t/font_h9759yio21kbj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_h9759yio21kbj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_h9759yio21kbj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_h9759yio21kbj4i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.15rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.002rem;
  -moz-osx-font-smoothing: grayscale;
}

.pull_view_wrap {
  position: relative;
}

.pull_status_div {
  position: absolute;
  top: -1rem;
  left: 0;
  right: 0;
  padding-top: 0.6rem;
  height: 1rem;
  line-height: 0.4rem;
  text-align: center;
  width: 100%;
  font-size: 0.16rem;
  background-color: #EAEAEA;
}